@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
    font-family: 'Inter', sans-serif;
}

:root {
    --site-default: #44B564;
}
.green-color {
    color: #44B564;
}
/*=====================NVAS=====================*/
.my-nav {
    background-color: #ffff ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
.navs a{
    font-size: 18px;
    margin-left: 34px;
}
.navs a:hover {
    color: var(--site-default) !important;
    text-decoration: underline 7px ;
}
.navs a:active {
    text-decoration: underline 7px ;
}

/*=====================HEAD=====================*/
.head {
    background-image: url(/img/left-corona-bg.svg);
    background-repeat: no-repeat;
    background-position: 0 6rem;
    margin-top: 7rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 2rem;
}

.head-content span {
    margin-bottom: 3em !important;
}
.head-content h1 {
    font-size: 62px;
    margin-top: 30px;
}
.head-content p {
    font-size: 22px;
    color: #00000096;
    margin-bottom: 2em;
}
.head-content a {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #44B564;
    color: #fff;
    text-decoration: none;

}

/*=====================CASES=====================*/
.cases-content {
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.075);
}
.recovered-txt {
    color: #44B564;
}
.second-row p{
    margin-top: 2rem;
}
.cases-content {
    margin-top: 3em;
}


/*=====================WHAT WE DO?=====================*/
.wwd {
    margin-top: 10em;
    margin-bottom: 10em;
    background-image: url(/img/right-corona-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.items {
    margin-bottom: 50px;
}


/*=====================PREVENTION _ CARDS=====================*/

.myCard {
    border-radius: 20px;
    border: none;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.075);
    padding-bottom: 1rem;
}
.myCard img {
    padding-top: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.myCard h1 {
    border-bottom: 2px;
}
.myCard p {
    color: #00000096;
    letter-spacing: 0.02em;
    margin-top: 20px;
}
.top-content p{
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #00000096;
    padding-top: 30px;
 }

 /*=====================SYMPTOMS=====================*/
 .symptoms {
     background-image: url(/img/Symptoms-Corona.png);
     background-repeat: no-repeat;
 }
.symptoms-content{
    margin-top: 10rem !important;
}
.symptoms-img img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
}
 /*=====================CONTACT US=====================*/

.contact {
    background: linear-gradient(345.88deg, #64CF83 47.7%, #FFFFFF 47.71%);
    padding-bottom: 2rem;
 }
 .contact-content {
    margin-top: 10rem !important;
 }
 .contact-img img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
}

/* =========== 🚩 Contact Info 💭 ============*/
.contact {
    margin-top: 15rem;
}
.top-content h1{
    padding-top: 4em;
}
.contact-section {
    border-radius: 20px;
    border: none;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.144);
    background-color: #fff;
   
}
.contact-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    padding: 1rem 10rem 5rem 10rem;
}
.contact-input {
    margin-left: auto;
}
.contact-input input{
    border: none;
    outline: none;
    width: 20em;
    height: 4em;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
}
.contact-input textarea {
    border: none;
    outline: none;
    width: 20em;
    height: 9em;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
}
.contact-input a {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #44B564;
    color: #fff;
    text-decoration: none;

}
.doctor-info {
    margin-left: 15px;
    margin-top: 10px;
}
.danish {
    display: flex;
    align-items: center;
}
.nilesh {
    display: flex;
    align-items: center;
}
.icon {
    font-size: 48px;
    color: #44B564;
}
.footer {
    margin-top: 10rem;
    color: white;
    display: flex;
    justify-content: space-between;
}
.footer a {
    color: white;
    text-decoration: none;
}


/* ===================== =======MEDIAQUERY====== ===================== */

/* PHONE */
@media screen and (max-width: 656px) {
    .head {
        margin-top: 2rem;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .head-img img{
        width: 100%;
    }
    .head-content h1 {
        font-size: 42px;
    }
    .head-content p {
        font-size: 18px;
    }
    .contact-img img{
        width: 100%;
    }
    .symptoms-img img{
        width: 100%;
    }
    .contact-info {
         grid-template-columns: repeat(1, 1fr);
    }
    .footer {
        flex-wrap: wrap;
    }
}




/* TAB */
@media only screen and (min-width: 657px) and (max-width:968px) {
        .head {
            margin-top: 2rem;
        }
        .grid {
            grid-template-columns: repeat(1, 1fr);
        }
        .head-img img{
            width: 100%;
        }
        .head-content h1 {
            font-size: 42px;
        }
        .head-content p {
            font-size: 18px;
        }
        .contact-img img{
            width: 100%;
        }
        .symptoms-img img{
            width: 100%;
        }
        .contact-info {
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
       }
       .footer {
        flex-wrap: wrap;
    }
}
